Final model.json
[{"id":"918f731a.368a3","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"57de4084.4c7d5","type":"ibmiot in","z":"918f731a.368a3","authentication":"apiKey","apiKey":"8a7108ee.d974d8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1988","applicationId":"","deviceType":"healthmonitor","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":200,"y":160,"wires":[["a8b6dff.1832c2","b50872c1.5813c","c01cedab.165f9","59b2bc59.f28054","4e422331.28983c","da8f545d.98f238"]]},{"id":"a8b6dff.1832c2","type":"debug","z":"918f731a.368a3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":160,"wires":[]},{"id":"b50872c1.5813c","type":"ui_gauge","z":"918f731a.368a3","name":"","group":"20ac0f04.f3fb6","order":0,"width":0,"height":0,"gtype":"gage","title":"Pulse","label":"units","format":"{{msg.payload.pulse}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":240,"wires":[]},{"id":"c01cedab.165f9","type":"ui_gauge","z":"918f731a.368a3","name":"","group":"5fe34d7d.264284","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"degree celcius ","format":"{{msg.payload.temp}}","min":"28","max":"150","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":280,"wires":[]},{"id":"59b2bc59.f28054","type":"ui_gauge","z":"918f731a.368a3","name":"","group":"1bb221dc.064ffe","order":0,"width":0,"height":0,"gtype":"gage","title":"Systolic","label":"mm Hg","format":"{{msg.payload.systolic}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":480,"y":340,"wires":[]},{"id":"2f585148.f06c9e","type":"cloudant out","z":"918f731a.368a3","name":"","cloudant":"","database":"healthmonitoring","service":"node-red-myuwb-2020--cloudant-1601471016461-71041","payonly":true,"operation":"insert","x":440,"y":100,"wires":[]},{"id":"694c38f.b775dc8","type":"http request","z":"918f731a.368a3","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":520,"wires":[["8c82a568.c89998","4fc18112.e4f98"]]},{"id":"da8f545d.98f238","type":"ui_form","z":"918f731a.368a3","name":"","label":"","group":"698814cf.6b945c","order":0,"width":0,"height":0,"options":[{"label":"Age","value":"Age","type":"number","required":true,"rows":null},{"label":"Temperature","value":"temp","type":"number","required":true,"rows":null},{"label":"Systolic","value":"Systolic","type":"number","required":true,"rows":null},{"label":"Diastolic","value":"Diastolic","type":"number","required":true,"rows":null},{"label":"Pulse","value":"Pulse","type":"number","required":true,"rows":null}],"formValue":{"Age":"","temp":"","Systolic":"","Diastolic":"","Pulse":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":50,"y":540,"wires":[["40800578.97931c","47a19229.624bac"]]},{"id":"40800578.97931c","type":"function","z":"918f731a.368a3","name":"Pre-tocken","func":"global.set(\"ag\",msg.payload.ag)\nglobal.set(\"tm\",msg.payload.tm)\nglobal.set(\"sm\",msg.payload.sm)\nglobal.set(\"at\",msg.payload.at)\nglobal.set(\"pt\",msg.payload.pt)\nvar apikey=\"rypSdK2ggpTC8M68uBumtac7hqKM5rE4RXXr04K6BY6y\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":190,"y":440,"wires":[["694c38f.b775dc8"]]},{"id":"47a19229.624bac","type":"debug","z":"918f731a.368a3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":210,"y":640,"wires":[]},{"id":"913ce26d.bde84","type":"inject","z":"918f731a.368a3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":60,"y":380,"wires":[["40800578.97931c"]]},{"id":"8c82a568.c89998","type":"function","z":"918f731a.368a3","name":"Pre-Prediction","func":"var ag = global.get(\"ag\")\nvar tm = global.get(\"tm\")\nvar sm = global.get(\"sm\")\nvar at = global.get(\"at\")\nvar pt = global.get(\"pt\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"Age\", \"Temperature\", \"Systolic\", \"Diastolic\", \"Pulse\"]],\"values\": [[ag, tm, sm, at, pt]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":480,"wires":[["c3ce5fff.4541a"]]},{"id":"4fc18112.e4f98","type":"debug","z":"918f731a.368a3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":620,"y":620,"wires":[]},{"id":"88629735.c07928","type":"function","z":"918f731a.368a3","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":400,"wires":[["7be47a5b.d2df34","d1a29652.ccce58"]]},{"id":"c3ce5fff.4541a","type":"http request","z":"918f731a.368a3","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/64f41dbc-afcf-405a-ad4d-70b2ff485be9/predictions?version=2020-09-01","tls":"","persist":false,"proxy":"","authType":"","x":780,"y":540,"wires":[["123cba05.183866","88629735.c07928"]]},{"id":"123cba05.183866","type":"debug","z":"918f731a.368a3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":620,"wires":[]},{"id":"d1a29652.ccce58","type":"debug","z":"918f731a.368a3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":420,"wires":[]},{"id":"7be47a5b.d2df34","type":"ui_text","z":"918f731a.368a3","group":"efd0f97a.1dda18","order":1,"width":0,"height":0,"name":"","label":"Status","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":340,"wires":[]},{"id":"4e422331.28983c","type":"ui_gauge","z":"918f731a.368a3","name":"","group":"1bb221dc.064ffe","order":1,"width":0,"height":0,"gtype":"gage","title":"Diastolic","label":"units","format":"{{msg.payload.diastolic}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":510,"y":400,"wires":[]},{"id":"8a7108ee.d974d8","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"3ot3ir.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"20ac0f04.f3fb6","type":"ui_group","z":"","name":"Status","tab":"15be1729.a38d69","order":1,"disp":true,"width":"6","collapse":false},{"id":"5fe34d7d.264284","type":"ui_group","z":"","name":"temp","tab":"15be1729.a38d69","order":7,"disp":true,"width":"6","collapse":false},{"id":"1bb221dc.064ffe","type":"ui_group","z":"","name":"Diastolic","tab":"15be1729.a38d69","order":8,"disp":true,"width":"6","collapse":false},{"id":"698814cf.6b945c","type":"ui_group","z":"","name":"Diastolic","tab":"fb948b43.366158","order":7,"disp":true,"width":"6","collapse":false},{"id":"efd0f97a.1dda18","type":"ui_group","z":"","name":"Status","tab":"fb948b43.366158","order":9,"disp":true,"width":"6","collapse":false},{"id":"15be1729.a38d69","type":"ui_tab","z":"","name":"Health monitor","icon":"dashboard","disabled":false,"hidden":false},{"id":"fb948b43.366158","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]