flows.json
[{"id":"918f731a.368a3","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"57de4084.4c7d5","type":"ibmiot in","z":"918f731a.368a3","authentication":"apiKey","apiKey":"8a7108ee.d974d8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1988","applicationId":"","deviceType":"healthmonitor","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":200,"y":160,"wires":[["a8b6dff.1832c2","b50872c1.5813c","c01cedab.165f9","59b2bc59.f28054"]]},{"id":"a8b6dff.1832c2","type":"debug","z":"918f731a.368a3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":410,"y":160,"wires":[]},{"id":"b50872c1.5813c","type":"ui_gauge","z":"918f731a.368a3","name":"","group":"20ac0f04.f3fb6","order":0,"width":0,"height":0,"gtype":"gage","title":"Pulse","label":"units","format":"{{msg.payload.pulse}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":240,"wires":[]},{"id":"c01cedab.165f9","type":"ui_gauge","z":"918f731a.368a3","name":"","group":"5fe34d7d.264284","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"degree celcius ","format":"{{msg.payload.temp}}","min":"28","max":"150","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":300,"wires":[]},{"id":"59b2bc59.f28054","type":"ui_gauge","z":"918f731a.368a3","name":"","group":"1bb221dc.064ffe","order":0,"width":0,"height":0,"gtype":"gage","title":"Blood Pressure","label":"mm Hg","format":"{{msg.payload.bp}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":460,"y":360,"wires":[]},{"id":"2f585148.f06c9e","type":"cloudant out","z":"918f731a.368a3","name":"","cloudant":"","database":"healthmonitoring","service":"node-red-myuwb-2020--cloudant-1601471016461-71041","payonly":true,"operation":"insert","x":440,"y":100,"wires":[]},{"id":"8a7108ee.d974d8","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"3ot3ir.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"20ac0f04.f3fb6","type":"ui_group","z":"","name":"Pulse","tab":"15be1729.a38d69","order":1,"disp":true,"width":"6","collapse":false},{"id":"5fe34d7d.264284","type":"ui_group","z":"","name":"temp","tab":"15be1729.a38d69","order":7,"disp":true,"width":"6","collapse":false},{"id":"1bb221dc.064ffe","type":"ui_group","z":"","name":"bp","tab":"15be1729.a38d69","order":8,"disp":true,"width":"6","collapse":false},{"id":"15be1729.a38d69","type":"ui_tab","z":"","name":"Health monitor","icon":"dashboard","disabled":false,"hidden":false}]